*,
*::before,
*::after{
box-sizing: border-box;
}

body {
  --background-color: #04070F;
  --primary-color : #D1DDEF;
  --secondary-color: #6D7C92;
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

body.light {
  --background-color: #F9E4CA;
  --primary-color : #652719;
  --secondary-color: #32120B;
}