.letters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 50px 0 50px;
    gap: 50px;
}

.tryedLetters {
    width: 35%;
    border-radius: 0.1875rem;
    border: 5px solid var(--primary-color);
}

.tryedLetters h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.tryedLetters p {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

@media screen and (max-width: 1130px) {
    .tryedLetters {
        width: 55%;
    }

    .tryedLetters h2 {
        font-size: 1.5rem;
    }

    .tryedLetters p {
        font-size: 2rem;
    }

    .letters {
        padding: 25px 25px;
        gap: 50px;
    }
}

@media screen and (max-width: 745px){

    .tryedLetters h2 {
        font-size: 1.2rem;
    }

    .tryedLetters p {
        font-size: 1rem;
    }    
}